.chatlist {
	min-width: 150px;
	max-width: 380px;
	width: 40%;
	height: 100%;
	border-right: 1px solid lightgrey;

	&__header {
		padding: 15px;

		h1 {
			font-size: 22px;
			font-weight: 400;
			color: #38A7CB;
		}
	}

	&__items {
		max-height: calc(100vh / 2);
		overflow: auto;
		overflow-x: hidden;
	}
}