.chat-view {
    &__item {
        display: flex;
        justify-content: flex-end;
        margin: 15px 0px 40px 15px;
        transition: all 0.3s ease;
        transform: scale(0);
        transform-origin: right;
        animation-name: showIn;
        animation-duration: 0.2s;
        /* or: Xms */
        animation-iteration-count: 1;
        animation-direction: normal;
        /* or: normal */
        animation-timing-function: cubic-bezier(0.88, 0.19, 0.37, 1.11);
        /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
        animation-fill-mode: both;
        /* or: backwards, both, none */
        animation-delay: 0.2s;
        /* or: Xms */
    }

    &__item.other {
        flex-direction: row-reverse;
        transform-origin: left;
    }

    &__item.me &__meta {
        display: flex;
        justify-content: flex-end;
        margin-right: 5px;
    }

    &__item.other &__meta {
        margin-left: 5px;
    }

    &__item.other &__message {
        background: #435f7a;
        color: #f5f5f5;
    }

    &__item.me &__message {
        background: #d2d7dc;
    }

    &__content {
        margin-right: 15px;
        font-size: 0.9em;
        max-width: 50%;
        min-width: 120px;
    }

    &__message {
        padding: 15px;
        border-radius: 20px;
    }

    &__meta {
        font-size: 10px;
        color: #515151;
        margin-top: 10px;
    }
}

@keyframes showIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

